.pagination{
    position:relative;
    height:40px;
    margin:0 0 1em;
}

.pagination button{
    width:80px;
    height:100%;
    line-height:1;
    outline:0;
    border:0;
    border-radius:2px;
    color:#dff9fb;
    background:#22a6b3;
}

.pagination button:hover,
.pagination button:focus{
    color:#fff;
}

.pagination button.previous{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
}

.pagination button.next{
    position:absolute;
    right:0;
    top:0;
    bottom:0;
}

@media screen and (min-width:560px){
    
    .pagination button{
        width:100px;
    }
}