.recipe{
    margin: 0 0 1.5em;
    padding: 1.5em 0 0;
    border-top:1px solid #c7ecee;
}

.recipe a{
    display:inline-block;
    width:100%;
    text-decoration:none;
    color:inherit;
}

.recipe .thumb > *{
    border-radius:1px;
    background-color:#c7ecee;
}

.recipe .texts{
    display:block;
    padding:1em 0 0;
}

.recipe .title{
    display:block;
    line-height:1.35;
    font-size:1.125em;
    font-weight:bold;
}

.recipe .ingredients{
    display:block;
    font-size:0.9375em;
    line-height:1.35;
    margin: 1em 0 0;
}

@media screen and (min-width:560px){

    .recipe a{
        display:table;
        table-layout:fixed;
    }
    
    .recipe a > *{
        display:table-cell;
        vertical-align:top;
    }
  
    .recipe .thumb{
        width:32%;
    }

    .recipe .texts{
        padding:0 0 0 1.5em;
    }

    .recipe .title,
    .recipe .ingredients{
        display:-webkit-box;
        -webkit-box-orient:vertical;
        overflow:hidden;
        text-overflow:ellipsis;
    }

    .recipe .title{
        line-height:24px;
        max-height:24px;        
        -webkit-line-clamp:1;
    }

    .recipe .ingredients{
        padding: .5em 0 0;
        border-top:1px solid #c7ecee;
        line-height:21px;
        max-height:42px;
        -webkit-line-clamp:2;
    }
}