.search-field{
    margin:0 0 1em;
}

.search-field form{
    position:relative;
    padding-right:80px;
}

.search-field input[type="search"]{
    display:block;
    outline:0;
    width:100%;
    height:40px;
    padding:0 0.75em;
    line-height:1;
    border-radius:2px 0 0 2px;
    border-width:1px;
    border-style:solid;
    border-color:#22a6b3;
}

.search-field input[type="submit"]{
    position:absolute;
    top:0;
    right:0;
    width:80px;
    height:100%;
    padding:0;
    line-height:1;
    outline:0;
    border-radius:0 2px 2px 0;
    border-width:0;
    border-style:solid;
    color:#dff9fb;
    background:#22a6b3;
}

.search-field input[type="submit"]:hover,
.search-field input[type="submit"]:focus{
    color:#fff;
}

.search-field button.clear{
    display:none;
}

@media screen and (min-width:560px){
    
    .search-field form{
        position:relative;
        padding-right:100px;
    }

    .search-field input[type="submit"]{
        width:100px;
    }
}
